html{
	margin: 0;
	font-family: arial;
	}
body{
	margin: 0;
	}
.framework{
	margin: 0 auto;
	width: 80%;
	max-width: 40em;
	}
.framework2{	
	width: 90%;
	max-width: 150em;
	margin: 0 auto;
	}
nav{
	margin: 2em 0 0em 0;
	
	}
	nav div{
	padding
	width: 60em;
	margin: 0 0 1.5em 9em;
		}
nav img {
	padding: 0em 0 0 0;
	margin: 1em 0 0 5em;
	height: 5em;
	}


nav ul{
	text-align: left;
	list-style-type: none;
  margin: 0;
  padding: 0 0 0 12.5em;
	background-color: #ccc;
	}
nav li:hover{
	background: #999;
	}
nav li{
	padding: .5em 3em .5em 3em;
	display: inline-block;
	margin: 0;
	}
nav a{
	font-weight: 100;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 1.3em;
	color: #111;
	}
div#side-bar{
	margin: 0;
	float: left;
	height: 250em;
	width: 15em;
	background: #bbb;
	}
div#side-bar ul{
	text-align: center;
	list-style-type: none;
  margin: 0;
  padding: 0;
  }
div#side-bar li{
	padding: 1em;
	display: block;
	margin: 0;
	}
div#side-bar li:hover{
	background: #999;
	
	}
div#side-bar li:first-child{
	padding-top: 5em;
	
	}
div#side-bar a{
	font-weight: 100;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 1.3em;
	color: #111;
	
	}
footer{
	clear: both;
	background: #ccc;
	}
footer img{
 	padding-top: 3em;
 	padding-bottom: 2em;
	height: 5em;
	width: auto;
}
footer ul {
	margin: 0;
	padding-bottom: 3em;
	}
footer li{
	text-align: center;
	list-style: none;
	}
h1 {
	padding: 2em 1em;
	text-align: center;
	font-size: 3em;
	}
div#contact-info:last-child{
	padding-bottom: 10em;
	}
#disclamer{
	float: right;
	width: 60%;
	margin: 0 0 0 -10em;
	}
.history{
	font-size: 1.2em;
	margin: 0 auto;
	max-width: 40em;
	width: 90%;
	padding: 2em 0 1em 0;
	line-height: 1.5;
	}
#gallary h2{
	margin: 1em 0 1em 0em;
	text-align: left;
	}

#gallary figure {
	margin: 0 5% 0 5%;
	clear: right;
	}
#gallary img{
	width: 17.5em;
	height: 12.5em;
	overflow: hidden;
	
	}
#gallary figure figcaption{
	text-align: left;
	font-family: arial;
	font-weight: light;
	font-style: normal;
	font-size: 1em;
	margin: 0 0 1em 0;
	}
#gallary figure{
	display: inline-block;
	
	}
#gallary figure img{
	margin: 0 auto;
	}
#gallary h2{
	margin: 5em 0 1em 0;
	text-align: center;
	}
	
	
@media (max-width: 50em;) {
nav ul {
	display: block;
	
	}
nav img {
	margin: 1 auto;
	width: 80%;
	}
	
	
}

	
}
